@use "../abstracts/variables" as var;

.spinner-wrapper {
  background-color: var.$heroverse-primary;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 600ms ease-in-out;
}

.spinner-border{
    height: 60px;
    width: 60px;
}

.spinner-star {
  position: absolute;
  color: #fff;
  font-size: 1.4rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}